:root {
  --clr-primary-hsl-300: 0, 36%, 70%;
  --clr-primary-hsl-600: 0, 93%, 68%;

  --clr-secondary-hsl-100: 0, 0%, 100%;
  --clr-secondary-hsl-200: 0, 100%, 98%;
  --clr-secondary-hsl-400: 0, 80%, 86%;
  --clr-secondary-hsl-500: 0, 74%, 74%;

  --clr-primary-300: hsl(var(--clr-primary-hsl-300));
  --clr-primary-600: hsl(var(--clr-primary-hsl-600));

  --clr-secondary-100: hsl(var(--clr-secondary-hsl-100));
  --clr-secondary-200: hsl(var(--clr-secondary-hsl-200));
  --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));
  --clr-secondary-500: hsl(var(--clr-secondary-hsl-500));

  --clr-accent-hsl-1: 0, 6%, 24%;
  --clr-accent-hsl-2: 160, 100%, 65%;

  --clr-accent-1: hsl(var(--clr-accent-hsl-1));
  --clr-accent-2: hsl(var(--clr-accent-hsl-2));

  --primary-gradient: linear-gradient(
    135deg,
    var(--clr-secondary-100),
    var(--clr-secondary-200)
  );

  --secondary-gradient: linear-gradient(
    135deg,
    var(--clr-secondary-400),
    var(--clr-secondary-500)
  );

  --ff-primary: "Josefin Sans", sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;

  --fs-100: 1rem;
  --fs-200: 2.5rem;

  --size-100: 0.7rem;
  --size-200: ;
  --size-300: 1rem;
  --size-400: ;
  --size-500: ;

  /* Tokens */

  --clr-body: var(--clr-primary-300);
  --clr-bg-btn: var(--secondary-gradient);
  --clr-bg-btn-hover: hsl(var(--clr-secondary-hsl-400), 0.9);
  --clr-heading: var(--clr-primary-300);

  --ff-body: var(--ff-primary);

  --fw-body: var(--fw-regular);
  --fw-heading: var(--fw-light);

  --fs-body: var(--fs-100);
  --fs-heading: var(--fs-200);
}

/* Reset Styles */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

/* Utilities */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap {
  gap: var(--size-200, 1rem);
}

/* General Styles */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-body);
  color: var(--clr-body);
}

.heading {
  color: var(--clr-heading);
  font-size: var(--fs-heading);
  font-family: var(--ff-heading);
  font-weight: var(--fw-heading);
  letter-spacing: var(--size-100);
  text-transform: uppercase;
  max-width: 10ch;
}

.heading span {
  color: var(--clr-accent-1);
  font-weight: var(--fw-semi-bold);
}

.hero__main-text {
  line-height: 1.5;
  margin-block: 2rem;
}

.form__group {
  background-color: hsl(var(--clr-secondary-hsl-200), 0.8);

  position: relative;
  align-items: center;
  justify-content: space-between;
}

.form__input {
  border: 2px solid hsl(var(--clr-accent-hsl-1), 0.4);
  color: hsl(var(--clr-accent-hsl-1), 0.6);
  background-color: hsl(var(--clr-secondary-hsl-200), 0.8);

  width: 100%;
  padding: 1rem;
  border-radius: 100vw;
  padding-left: 1.5rem;

  outline: none;
}

.form__input:focus,
.form__input:focus-visible {
  outline: none;
}

.form__submit-btn {
  font-weight: var(--fw-btn);
  font-size: var(--fs-btn);
  background: var(--clr-bg-btn);
  color: var(--clr-btn);

  padding: 1rem 0.2rem;
  border-radius: 100vw;
  width: 5rem;

  place-items: center;
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.form__submit-btn:hover,
.form__submit-btn:focus-visible {
  background: var(--clr-bg-btn-hover);
  box-shadow: 0.1rem 0.3rem 1.5rem hsl(var(--clr-primary-hsl-300), 0.8);
  border: none;
  outline: none;
}

/* Error toggle Js Classes */

.error {
  border-color: hsl(var(--clr-primary-hsl-600));
  background-image: url(images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 14.5rem center;
}

.success {
  border-color: hsl(var(--clr-accent-hsl-2));
  background-image: url(images/icon-success.svg);
  background-repeat: no-repeat;
  background-position: 14.5rem center;
}

.form__error {
  font-weight: var(--fw-regular);
  margin-block-start: 0.5rem;
  margin-inline-start: 1.5rem;
}

.error-text {
  color: hsl(var(--clr-primary-hsl-600));
}

/* Small screen widths */

@media (max-width: 900px) {
  body {
    background-color: hsl(var(--clr-secondary-hsl-200), 0.8);

    display: grid;
    justify-items: center;
    min-height: 100vh;
  }

  .header {
    margin-block: 2rem;
  }

  .header__img-wrapper {
    max-width: 7rem;
    margin-inline: 2.5rem;
  }

  .hero__content .container {
    max-width: 22rem;
  }

  .hero__content {
    padding-inline: 1rem;
    padding-block: 4rem;
  }

  .align-center {
    text-align: center;
    margin-inline: auto;
  }
}

/* Big screen widths */

@media (min-width: 900px) {
  body {
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(var(--clr-secondary-hsl-200), 0.8);
  }

  main {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header hero__image"
      "hero__content hero__image";
  }

  .heading {
    --fs-200: 3.8rem;
    font-size: var(--fs-200);
  }

  .header {
    grid-area: header;
    align-self: center;
  }

  .header .container {
    margin-inline-start: 5rem;
  }

  .hero__image {
    grid-area: hero__image;
    justify-self: end;
  }

  .hero__img-wrapper picture img {
    object-fit: cover;
    height: 50rem;
  }

  .hero__content {
    grid-area: hero__content;
  }

  .hero__content .container {
    margin-inline-start: 5rem;
    max-width: 30rem;
  }

  .error {
    background-position: 80% center;
  }

  .success {
    background-position: 80% center;
  }
}

@media (min-width: 1400px) {
  .header .container {
    margin-inline-start: 10rem;
  }

  .hero__content .container {
    margin-inline-start: 10rem;
  }
}
